  {{ form.hidden_tag() }}

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <p>
        {{ form.name.label }}
        {{ form.name(size=40) }}
    </p>

    <p>
        {{ form.notes.label }}
        {{ form.notes(rows=4) }}
    </p>

    <p>
    <div class="form-group">
        {{ form.author.label }}
        {{ form.author(class_="form-control") }}
    </div>
    {% for error in form.author.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
    </p>

    <p></p>
    <div class="form-group">
      {{ form.meal_type.label }}
      {{ form.meal_type(class_="form-control") }}
    </div>
    {% for error in form.meal_type.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
    </p>
    <br>

    <h2>Ingredients</h2>
    <div id="ingredients-list">
        {% for subform in form.ingredients %}
            <div class="ingredient-entry">
                <label for="{{ subform.ingredient_id.id }}">Ingredient</label>
                    {{ subform.ingredient_id(class="ingredient-select") }}
                <label for="{{ subform.amount.id }}">Amount</label>
                    {{ subform.amount(class="ingredient-amount", step="0.1", value=subform.amount.data or '0') }}

                <button type="button" class="remove-ingredient" data-index="{{ loop.index0 }}">Remove</button>
            </div>
            {% endfor %}

    </div>
    <br>
    <button type="button" name="add_ingredient">Add Ingredient</button>
    <br>
    <br>

     <!-- Hidden template to clone -->
    <template id="ingredient-template">
    <div class="ingredient-entry">
        <label for="ingredients-__index__-ingredient_id">Ingredient</label>
        <select name="ingredients-__index__-ingredient_id" id="ingredients-__index__-ingredient_id" 
            class="ingredient-select">
        {% for value, label in form.ingredients[0].ingredient_id.choices %}
        <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
        </select>

        <label for="ingredients-__index__-amount">Amount</label>
        <input type="number" name="ingredients-__index__-amount" id="ingredients-__index__-amount" 
            class="ingredient-amount" step="0.1" value="0">

        <button type="button" class="remove-ingredient">Remove</button>
    </div>
    </template>

