<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Keto Buddy{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2><a href="{{ url_for('main.index') }}">Keto Buddy</a></h2>
        <!-- <a href="{{ url_for('main.index') }}">Home</a> -->
        <a href="{{ url_for('main.ingredients') }}">Ingredients</a>
        <a href="{{ url_for('main.recipes') }}">Recipes</a>
        <a href="{{ url_for('main.new_recipe') }}">Add Recipe</a>
        <a href="{{ url_for('main.new_calculated_recipe') }}">Add Calculated Recipe</a>
        <a href="{{ url_for('main.targets') }}">Daily Targets</a>
        <a href=" {{ url_for('main.planner') }}">Meal Planner</a>
        <a href="{{ url_for('main.log') }}">Log Meals</a>
        <br>
        <br>
        <br>
        <br>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('main.login') }}">Login</a>
            <a href="{{ url_for('main.signup') }}">Sign Up</a>
        {% endif %}
    </div>

    <div class="main">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
