{% extends "base.html" %}

{% block title %}Fruit and veg substitution table{% endblock %}

{% block content %}

    <h2>Group A fruit (lowest in carbohydrate)</h2>
    <table>
      <tbody>
        <tr>
          <td>Blackberries</td>
          <td>Blackcurrants</td>
        </tr>
        <tr>
          <td>Blueberries</td>
          <td>Grapefruit</td>
        </tr>
        <tr>
          <td>Lemons</td>
          <td>Loganberries</td>
        </tr>
        <tr>
          <td>Melon: canteloupe, honeydew, galia</td>
          <td>Raspberries</td>
        </tr>
        <tr>
          <td>Redcurrants</td>
          <td>Strawberries</td>
        </tr>
        <tr>
          <td>Gooseberries</td>
          <td>Cranberries</td>
        </tr>
      </tbody>
    </table>

    <h2>Group B fruit</h2>
    <table>
      <tbody>
        <tr>
          <td>Apples</td>
          <td>Apricots</td>
        </tr>
        <tr>
          <td>Canned fruit cocktails (in natural juice)</td>
          <td>Cherries</td>
        </tr>
        <tr>
          <td>Damsons</td>
          <td>Kiwi fruit</td>
        </tr>
        <tr>
          <td>Nectarines</td>
          <td>Orange (mandarin, satsuma, tangerine)</td>
        </tr>
        <tr>
          <td>Papaya</td>
          <td>Passionfruit</td>
        </tr>
        <tr>
          <td>Pears</td>
          <td>Peaches</td>
        </tr>
         <tr>
          <td>Plums</td>
          <td>Pineapple</td>
        </tr>
         <tr>
          <td>Watermelon</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <h2>Group C fruit</h2>
    <table>
      <tbody>
        <tr>
          <td>Grapes</td>
          <td>Lychees</td>
        </tr>
        <tr>
          <td>Mango</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <h2>Group D fruit (highest in carbohydrate)</h2>
    <p>Banana only</p>

{% endblock %}