{% extends "base.html" %}

{% block title %}Fruit and veg substitution table{% endblock %}

{% block content %}

<h2>Group 1 vegetables (highest in carbohydrates)</h2>
    <table style="width: 100%; table-layout: fixed;">
      <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Beetroot</td>
          <td>Bean sprouts</td>
        </tr>
        <tr>
          <td>Broccoli</td>
          <td>Brussel Sprouts</td>
        </tr>
        <tr>
          <td>Butternut squash</td>
          <td>Carrots</td>
        </tr>
        <tr>
          <td>Cauliflower</td>
          <td>Mangetout</td>
        </tr>
        <tr>
          <td>Onion</td>
          <td>Peas</td>
        </tr>
      </tbody>
    </table>
    <br>

    <h2>Group 2 vegetables</h2>
    <p> <span class="highlight">Double</span> group 1</p>
    <table style="width: 100%; table-layout: fixed;">
      <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Asparagus</td>
          <td>Cabbage</td>
        </tr>
        <tr>
          <td>Celeriac</td>
          <td>Courgette</td>
        </tr>
        <tr>
          <td>Green beans</td>
          <td>Kale</td>
        </tr>
        <tr>
          <td>Leeks</td>
          <td>Okra</td>
        </tr>
        <tr>
          <td>Red/Yellow pepper</td>
          <td>Spring Onion</td>
        </tr>
        <tr>
          <td>Swede</td>
          <td>Tomato</td>
        </tr>
         <tr>
          <td>Turnip</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <br>

    <h2>Group 3 vegetables (lowest carbohydrates)</h2>
    <p> <span class="highlight">Quadruple</span> group 1</p>
    <table style="width: 100%; table-layout: fixed;">
      <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
      </colgroup>
      <tbody>
        <tr>
          <td>Aubergine</td>
          <td>Celery</td>
        </tr>
        <tr>
          <td>Chicory</td>
          <td>Cucumber</td>
        </tr>
        <tr>
          <td>Fennel</td>
          <td>Green pepper</td>
        </tr>
        <tr>
          <td>Lettuce</td>
          <td>Marrow</td>
        </tr>
        <tr>
          <td>Mushrooms</td>
          <td>Pumpkin</td>
        </tr>
        <tr>
          <td>Radish</td>
          <td>Rhubarb*</td>
        </tr>
         <tr>
          <td>Spinach</td>
          <td>Watercress</td>
        </tr>
      </tbody>
    </table>
    <p><em>*Rhubarb is a fruit, however it is very low in carbohydrate, so can be used in group 3 vegetable amounts.</em></p>


{% endblock %}